*
{
	background-color: silver;
	font-family: Georgia, Times, erif;
	padding-left: 60px;
	padding-right: 60px;
}
a:visited
{
	text-decoration: none;
}
a:hover
{
	color: blue;
	text-decoration: underline;
}
p>a
{
	padding-left: 0px;
	padding-right: 0px;
}

#name
{
	text-align: center;
}

#about
{
	padding-left: 80px;
}

p>b
{
	padding-left: 0px;
	padding-right: 0px;
}
.hobInt
{
	padding-left: 10px0px;
}

p[class=".hobInt"]
{
	padding-left: 140px;
}

p.hobInt+ul
{
	padding-left: 160px;
}

ul>li
{
	padding-left: 0px;
}

th
{
	border-bottom: 2 px solid #111111;
}
